.App-results {
  border: solid 2px #302D3C;
  margin: .5em;
  min-height: 50vmin;
  border-radius: .3em;
}

.App-results > h3 {
  color: #302D3C;
  text-align: left;
  margin-left: .5em;
}

.App-results > div {
  color: #302D3C;
  text-align: left;
  margin-left: .5em;
}